@charset "utf-8";
.about-page {
  width: 100%;
  height: 100vh;
}
.about-page:nth-child(1) {
  background: url("http://api.i-meto.com/bing?new");
  display: table;
}
.about-page:nth-child(2) {
  background: #fff;
}
.about-page:nth-child(3) {
  background: #fff;
}
.about-title {
  background: rgba(0, 0, 0, 0.33);
  padding-left: 10%;
  padding-top: 3vh;
  padding-right: 10%;
}
.about-title div,
.about-title > img {
  animation: fade-in-left 0.6s both;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  font-family: "Open Sans", sans-serif;
}
.about-title > img {
  margin-top: -20vh;
  width: 25rem;
  margin-left: -15px;
}
.about-title div:nth-child(2) {
  margin-top: -40px;
}
.about-title div:last-child {
  margin-top: 1rem;
}
.about-title + a {
  position: absolute;
  bottom: 45px;
  left: 50vw;
  z-index: 1;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.5);
  animation: upDownMove 1.2s ease-in-out infinite alternate;
}
.content-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.content-wrapper .text-wrapper {
  float: left;
  position: relative;
  top: 20%;
  padding-left: 10%;
  font-family: "Open Sans", sans-serif;
}
.about-wake img {
  height: 110vh;
}
@keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-in-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes upDownMove {
  100% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}
