@import "./../const.less";
.editor-sidebar{
  //background: #999;
  padding: 16px 0px;
  border-right: 1px solid #e9e9e9;
}
.editor-middle{
  //background: #666;
  padding: 16px 0px;
  border-right: 1px solid #e9e9e9;
}
.editor-viewport{

}
.menu-briefing{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.editor>div{
  height: calc(~"100vh - 64px");
}
.editor-editor{
  height: calc(~"100vh - 173.5px");
}
.public-DraftStyleDefault-block{
  margin: 0;
}
.editor-title{
  height: 60px;
  line-height: 65px;
  padding-left: 10px;
  padding-right: 48px;
  outline: none;
}
.editor-title>button{
  margin-top: 15px;
}
.rdw-option-wrapper.ant-btn{
  min-width: 16px;
  height: 16px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
}
.rdw-option-wrapper.ant-btn:after{
  font-size: 14px;
}
.rdw-option-wrapper>img{
  display: none;

}

.rdw-option-active,.rdw-option-wrapper:hover{
  box-shadow: none;

}

@editor-icon : './../static/icon/sprite.png';
@editor-icons: bold
italic
underline
strikethrough
superscript
subscript
unordered
ordered
indent
outdent
editor-icon-left
editor-icon-center editor-icon-right editor-icon-justify link unlink embedded image remove undo redo;
@editor-icons-position-x: -96px -48px -80px -48px -80px -80px -80px -80px -48px -64px -16px -96px -16px -16px -16px -48px -32px -16px -16px -16px -64px;
@editor-icons-position-y: -16px -32px -64px -64px -32px -0px -80px -80px -0px -16px -0px -80px -16px -96px -48px -80px -16px -32px -64px -80px -48px;
@editor-icons-position-x1: -96px -0px -0px -64px -80px -80px -96px -96px -48px -64px -0px -0px -32px -0px -32px -64px -0px -32px -32px -32px -0px;
@editor-icons-position-y1: -32px -48px -80px -64px -48px -16px -0px -0px -16px -32px -16px -96px -0px -0px -48px -80px -32px -32px -64px -80px -64px;
.editor-icon-loop(@icons,@x,@y,@x1,@y1, @i:1) when (@i <= length(@icons)) {
  @temp :extract(@icons, @i);
  .rdw-option-wrapper.ant-btn.@{temp}{
    background: url(@editor-icon) extract(@x , @i) extract(@y , @i) no-repeat;
  }
  .rdw-option-wrapper.ant-btn.rdw-option-active.@{temp},.rdw-option-wrapper.ant-btn.@{temp}:hover{
    background: url(@editor-icon) extract(@x1 , @i) extract(@y1 , @i) no-repeat;
  }
  .editor-icon-loop(@icons,@x,@y,@x1,@y1, (@i + 1));
}
.editor-icon-loop(@editor-icons,@editor-icons-position-x, @editor-icons-position-y,@editor-icons-position-x1,@editor-icons-position-y1);

.ant-menu-vertical .ant-menu-item, .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title{
  font-size: 14px;
}
.ant-menu.ant-menu-inline, .ant-menu.ant-menu-vertical {
  border-right: 0;
}

.editor-middle-menu li{

  position: relative;
  padding: @s_spacing @l_spacing;
  transition: color .3s cubic-bezier(.645,.045,.355,1),border-color .3s cubic-bezier(.645,.045,.355,1),background .3s cubic-bezier(.645,.045,.355,1),padding .15s cubic-bezier(.645,.045,.355,1);
}
.editor-middle-menu li:hover .menu-title{
  color: @primary-color;
}
.editor-middle-menu li.active{
  background-color: @primary-color-1;
}
.editor-middle-menu li.active .menu-title{
  color: @primary-color;
}
.editor-middle-menu li.active:after {
  opacity: 1;
  transform: scaleY(1);
}

.editor-middle-menu li:after {
  right: 0;
  border-left: 3px solid @primary-color;
  transform: scaleY(.0001);
  opacity: 0;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  transition: transform .15s cubic-bezier(.215,.61,.355,1),opacity .15s cubic-bezier(.215,.61,.355,1);
}




//
#gopng_editor-icon-justify1_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_editor-icon-justify1 {
  background: url(http://gopng/static/images/sprite.png) -0px -0px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 0px;
  _margin-left: -0px;
  _padding-top: 0px;
  _margin-top: -0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_editor-icon-left_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_editor-icon-left {
  background: url(http://gopng/static/images/sprite.png) -16px -0px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 16px;
  _margin-left: -16px;
  _padding-top: 0px;
  _margin-top: -0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_editor-icon-left1_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_editor-icon-left1 {
  background: url(http://gopng/static/images/sprite.png) -0px -16px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 0px;
  _margin-left: -0px;
  _padding-top: 16px;
  _margin-top: -16px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_editor-icon-right_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_editor-icon-right {
  background: url(http://gopng/static/images/sprite.png) -16px -16px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 16px;
  _margin-left: -16px;
  _padding-top: 16px;
  _margin-top: -16px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_editor-icon-right1_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_editor-icon-right1 {
  background: url(http://gopng/static/images/sprite.png) -32px -0px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 32px;
  _margin-left: -32px;
  _padding-top: 0px;
  _margin-top: -0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_embedded_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_embedded {
  background: url(http://gopng/static/images/sprite.png) -32px -16px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 32px;
  _margin-left: -32px;
  _padding-top: 16px;
  _margin-top: -16px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_embedded1_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_embedded1 {
  background: url(http://gopng/static/images/sprite.png) -0px -32px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 0px;
  _margin-left: -0px;
  _padding-top: 32px;
  _margin-top: -32px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_image_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_image {
  background: url(http://gopng/static/images/sprite.png) -16px -32px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 16px;
  _margin-left: -16px;
  _padding-top: 32px;
  _margin-top: -32px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_image1_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_image1 {
  background: url(http://gopng/static/images/sprite.png) -32px -32px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 32px;
  _margin-left: -32px;
  _padding-top: 32px;
  _margin-top: -32px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_indent_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_indent {
  background: url(http://gopng/static/images/sprite.png) -48px -0px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 48px;
  _margin-left: -48px;
  _padding-top: 0px;
  _margin-top: -0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_indent1_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_indent1 {
  background: url(http://gopng/static/images/sprite.png) -48px -16px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 48px;
  _margin-left: -48px;
  _padding-top: 16px;
  _margin-top: -16px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_italic_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_italic {
  background: url(http://gopng/static/images/sprite.png) -48px -32px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 48px;
  _margin-left: -48px;
  _padding-top: 32px;
  _margin-top: -32px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_italic1_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_italic1 {
  background: url(http://gopng/static/images/sprite.png) -0px -48px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 0px;
  _margin-left: -0px;
  _padding-top: 48px;
  _margin-top: -48px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_link_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_link {
  background: url(http://gopng/static/images/sprite.png) -16px -48px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 16px;
  _margin-left: -16px;
  _padding-top: 48px;
  _margin-top: -48px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_link1_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_link1 {
  background: url(http://gopng/static/images/sprite.png) -32px -48px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 32px;
  _margin-left: -32px;
  _padding-top: 48px;
  _margin-top: -48px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_ordered_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_ordered {
  background: url(http://gopng/static/images/sprite.png) -48px -48px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 48px;
  _margin-left: -48px;
  _padding-top: 48px;
  _margin-top: -48px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_ordered1_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_ordered1 {
  background: url(http://gopng/static/images/sprite.png) -64px -0px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 64px;
  _margin-left: -64px;
  _padding-top: 0px;
  _margin-top: -0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_outdent_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_outdent {
  background: url(http://gopng/static/images/sprite.png) -64px -16px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 64px;
  _margin-left: -64px;
  _padding-top: 16px;
  _margin-top: -16px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_outdent1_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_outdent1 {
  background: url(http://gopng/static/images/sprite.png) -64px -32px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 64px;
  _margin-left: -64px;
  _padding-top: 32px;
  _margin-top: -32px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_redo_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_redo {
  background: url(http://gopng/static/images/sprite.png) -64px -48px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 64px;
  _margin-left: -64px;
  _padding-top: 48px;
  _margin-top: -48px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_redo1_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_redo1 {
  background: url(http://gopng/static/images/sprite.png) -0px -64px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 0px;
  _margin-left: -0px;
  _padding-top: 64px;
  _margin-top: -64px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_remove_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_remove {
  background: url(http://gopng/static/images/sprite.png) -16px -64px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 16px;
  _margin-left: -16px;
  _padding-top: 64px;
  _margin-top: -64px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_remove1_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_remove1 {
  background: url(http://gopng/static/images/sprite.png) -32px -64px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 32px;
  _margin-left: -32px;
  _padding-top: 64px;
  _margin-top: -64px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_strikethrough_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_strikethrough {
  background: url(http://gopng/static/images/sprite.png) -48px -64px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 48px;
  _margin-left: -48px;
  _padding-top: 64px;
  _margin-top: -64px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_strikethrough1_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_strikethrough1 {
  background: url(http://gopng/static/images/sprite.png) -64px -64px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 64px;
  _margin-left: -64px;
  _padding-top: 64px;
  _margin-top: -64px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_subscript_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_subscript {
  background: url(http://gopng/static/images/sprite.png) -80px -0px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 80px;
  _margin-left: -80px;
  _padding-top: 0px;
  _margin-top: -0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_subscript1_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_subscript1 {
  background: url(http://gopng/static/images/sprite.png) -80px -16px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 80px;
  _margin-left: -80px;
  _padding-top: 16px;
  _margin-top: -16px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_superscript_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_superscript {
  background: url(http://gopng/static/images/sprite.png) -80px -32px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 80px;
  _margin-left: -80px;
  _padding-top: 32px;
  _margin-top: -32px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_superscript1_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_superscript1 {
  background: url(http://gopng/static/images/sprite.png) -80px -48px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 80px;
  _margin-left: -80px;
  _padding-top: 48px;
  _margin-top: -48px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_underline_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_underline {
  background: url(http://gopng/static/images/sprite.png) -80px -64px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 80px;
  _margin-left: -80px;
  _padding-top: 64px;
  _margin-top: -64px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_underline1_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_underline1 {
  background: url(http://gopng/static/images/sprite.png) -0px -80px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 0px;
  _margin-left: -0px;
  _padding-top: 80px;
  _margin-top: -80px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_undo_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_undo {
  background: url(http://gopng/static/images/sprite.png) -16px -80px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 16px;
  _margin-left: -16px;
  _padding-top: 80px;
  _margin-top: -80px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_undo1_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_undo1 {
  background: url(http://gopng/static/images/sprite.png) -32px -80px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 32px;
  _margin-left: -32px;
  _padding-top: 80px;
  _margin-top: -80px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_unlink_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_unlink {
  background: url(http://gopng/static/images/sprite.png) -48px -80px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 48px;
  _margin-left: -48px;
  _padding-top: 80px;
  _margin-top: -80px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_unlink1_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_unlink1 {
  background: url(http://gopng/static/images/sprite.png) -64px -80px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 64px;
  _margin-left: -64px;
  _padding-top: 80px;
  _margin-top: -80px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_unordered_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_unordered {
  background: url(http://gopng/static/images/sprite.png) -80px -80px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 80px;
  _margin-left: -80px;
  _padding-top: 80px;
  _margin-top: -80px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_unordered1_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_unordered1 {
  background: url(http://gopng/static/images/sprite.png) -96px -0px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 96px;
  _margin-left: -96px;
  _padding-top: 0px;
  _margin-top: -0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_bold_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_bold {
  background: url(http://gopng/static/images/sprite.png) -96px -16px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 96px;
  _margin-left: -96px;
  _padding-top: 16px;
  _margin-top: -16px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_bold1_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_bold1 {
  background: url(http://gopng/static/images/sprite.png) -96px -32px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 96px;
  _margin-left: -96px;
  _padding-top: 32px;
  _margin-top: -32px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_color_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_color {
  background: url(http://gopng/static/images/sprite.png) -96px -48px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 96px;
  _margin-left: -96px;
  _padding-top: 48px;
  _margin-top: -48px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_color1_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_color1 {
  background: url(http://gopng/static/images/sprite.png) -96px -64px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 96px;
  _margin-left: -96px;
  _padding-top: 64px;
  _margin-top: -64px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_editor-icon-center_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_editor-icon-center {
  background: url(http://gopng/static/images/sprite.png) -96px -80px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 96px;
  _margin-left: -96px;
  _padding-top: 80px;
  _margin-top: -80px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_editor-icon-center1_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_editor-icon-center1 {
  background: url(http://gopng/static/images/sprite.png) -0px -96px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 0px;
  _margin-left: -0px;
  _padding-top: 96px;
  _margin-top: -96px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_editor-icon-justify_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
#gopng_editor-icon-justify {
  background: url(http://gopng/static/images/sprite.png) -16px -96px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 16px;
  _margin-left: -16px;
  _padding-top: 96px;
  _margin-top: -96px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
